@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: 'Big Shoulders Display', sans-serif;
    background: var(--Very-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
}
header{
    display: flex;
    width: 64%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 70px;
}
h1{
    color: var(--Very-light-gray);
    font-size: 39px;
    margin-bottom: 30px;
}
p{
    color: var(--Transparent-white);
    font-family: 'Lexend Deca', sans-serif;
}
button{
    border: none;
    outline: none;
    padding: 15px 35px;
    border-radius: 50px;
    margin-top: 90px;
}
section{
    padding: 35px;
}
img{
    margin-bottom: 40px;
}
section.one{
    background-color: var(--Bright-orange);
}
section.one button{
    color: var(--Bright-orange);
}
section.two{
    background-color: var(--Dark-cyan);
}
section.two button{
    color: var(--Dark-cyan);
}
section.three{
    background-color: var(--Very-dark-cyan);
}
section.three button{
    color: var(--Very-dark-cyan);
}
aside{
    width: 80%;
    background: #1A1C28;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside ul li{
    list-style: none;
    width: auto;
    height: 200px;
}
#une{
    background-color: orangered;
    grid-column: 1/3;
}
#du{
    background-color: yellow;
}
#qua{
    background-color: green;
}
#sept{
    background-color: blue;
    height: 95px;
}
#six{
    background-color: blueviolet;
    height: 95px;
}
.togo{
    grid-column: 2/4;
    display: grid;
    gap: 10px;
}
aside ul{
    display: grid;
    grid-template-columns: 300px 120px 269px;
    gap: 10px;
}